{% include 'header.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">category</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Enter category"  value="{{data.pcategory}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">subcategory</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Enter category"  value="{{data.psubcategory}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">name</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Enter category"  value="{{data.name}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">image</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Enter category"  value="{{data.image}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">discription</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Enter status"  value="{{data.discription}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">price</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Enter status"  value="{{data.price}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">quantity</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Enter status"  value="{{data.quantity}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">discount</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Enter status" name="discount" value="{{data.discount}}">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include 'footer.html' %}