<!-- {% load static %} -->
{% include 'header.html' %}
 


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
   
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with minimal features & hover style</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <!-- <table border="1" cellspacing="0" align="center" cellpadding="20px"> -->
                    <tr>
                        <th>id</th>
                        <th>userid</th>
                        <th>category</th>
                        <th>sub category</th>
                        <th>delete</th>
                        <th>update</th>
                    </tr>
                    {% for x in data %}
        
                        <tr>
                            <td>{{x.id}}</td>
                            <td>{{x.userid}}</td>
                            <td>{{x.item}}</td>                            
                            <td>{{x.subitem}}</td>
                            <td><a href="/deletesub/{{x.id}}">delete</a></td>
                            <td><a href="/updatesub/{{x.id}}">update</a></td>
                        </tr>
        
                    {% endfor %}
                <!-- </table> -->
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include 'footer.html' %}